:root{
    --blackBg : #131213;
    --fade : #201F24;
    --font : #E42EA6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background: #1A191A;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

.header, .footer{
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--blackBg);
    color: #fff;
}

.logo{
    width: 30%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    
}
.logo::before{
    content: 'Digitalia';
    width: 60px;
    height: 70px;
    background: var(--font);
    border-radius: 50%;
    position: absolute;
    text-align: right;
    padding-left: 1rem;
}

.navContainer{
    width: 70%;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    text-transform: uppercase;
}

.nav{
    position: relative;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: flex-end;
    right: 2rem;
}
a{
    text-decoration: none;
    color: #fff;
}
.navItem{
    padding: .5rem;
}

.navItem>a:hover{
    color: var(--font);
}

.fa-bars{
    display: none;
    position: absolute;
    top:-500px
}

.breadCrumbs{
    width: 100vw;
    height: 5rem;
    background: var(--fade);
    font-size: 1rem;  
    
}
.breadCrumbs > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 1rem;
    margin: auto ;
    padding: 1.5rem;
}

.breadCrumbs > ul > li>a:hover{
    color: var(--font);
}

.breadCrumbs > ul >li:last-child::before{
    content: '|';
    padding: 1rem;
}

.photoContainer{
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    gap: .5rem;
}

::-webkit-scrollbar{
    display: none   ;
}

.photoContainer > div{
    width: 30%;
    height: 400px;
    padding: 2rem 0;
    position: relative;
    
}

.photoContainer > div:hover::before{
    width: 100%;
    height: 80%;
    content:'';
    position: absolute;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.photoContainer > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoContainer > div > div {
    font-size: 1rem;
    padding-top: .3rem;
    padding-left: .3rem;
    cursor: pointer;
}

.link{
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: bolder;
}

.photoContainer >div >div:hover{
    color: var(--font);
}

.footer > .breadCrumbs {
    background: var(--blackBg);
    color: rgb(93, 93, 93);
    padding-right: 1rem;
    font-weight: bold;

}
.footer > .breadCrumbs >ul > li> a{
    color: rgb(93, 93, 93);
}
.footer > .breadCrumbs >ul > li> a:hover{
     color: var(--font);
 }


 .showCase{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;


 }

 .showcaseImg{
     width: 50%;
     height: 100%;
     margin: auto;
     padding-left: .5rem;
 }

 .showcaseImg > img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .formTag{
     width: 50%;
     height: 100%;
     padding: 3rem;
     text-align: center;
 }

 h3{
    font-size: 2rem;
 }
 p{
     padding: 1rem 0;
     color: rgb(155, 155, 155);
     font-size: 1rem;
 }

 h4{
     font-size: 1rem;
     padding-bottom: 1rem;
 }

 select{
     width: 100%;
     padding: 1rem;
     background: transparent;
     color: rgb(93, 93, 93);
 }
 option{
     font-size: 1rem;
 }

 input{
     width: 100%;
     padding: 1rem;
     background: transparent;
     border: 2px solid rgb(93, 93, 93);
     color: #fff;
 }

 input::placeholder{
     color: #fff;
     font-size: .8rem;
 }

 .btn{
     background: var(--font);
     padding: .5rem;
     text-transform: uppercase;
     font-size: .7rem;
     font-weight: 600;
     width: 30%;
     cursor: pointer;
     border: none;
     border-radius: 50px;
     text-align: center;
 }

.contactInformation{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3rem;
}

.contactInformation >div{
    display: flex;
    height: auto;
    position: relative;
    overflow: hidden;
}

.contact, .about{
    width: 50%;
    height: 100%;
    padding: 1rem;
    position: relative;
}
.contact::before, .about::before{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 110%;
    content: '';
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    
}
.contact>div>img, .about>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.objectOver{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}

.objectOver > h1, .objectOver > div{
    width: 70%;
    margin: auto;
}


@media screen and (max-width : 768px){
    .fa-bars{
        display: block;
        position: absolute;
        top: 2.5%;
        right: 10%;
        font-size: 2rem;
    }

    .nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 12%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: auto;
        background: var(--blackBg);
        z-index: 1;
        transition: all 250ms ease-in-out;
        display: none;
    }

    .navItem{
        padding: 1rem;
    }

    .photoContainer > div{
        width: 45%;
    }


    .showCase{
        flex-direction: column;
        height: auto;
    }

    .showcaseImg{
        width: 100%;
    }
    .formTag{
        width: 100%;
    }

    .contactInformation{
        padding: 0;
    }

    .contactInformation > div{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: auto;
    }

    .contact, .about{
        width: 90%;
        margin: auto;
    }

    .objectOver{
        width: 60%;
        margin: auto;
    }

    .objectOver > .btn{
        width: 70%;
        text-align: center;
        padding: .5rem;
    }



}




@media screen and (max-width : 480px){

    .breadCrumbs > ul{
        padding: 1rem .5rem;
        
    }

    .nav{
        transform: translate(-50%, 0%);
    }


    .photoContainer > div{
        width: 90%;
    }

    .footer{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer > .breadCrumbs >ul{
        padding: 2rem 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .formTag{
        padding: 1rem;
    }
    .objectOver > h1, .objectOver > div{
        width: 100%;
        margin: auto;
    }

}
